version: "3.4"

services: 

  gnss_benchmark:
      build:
          context: ./
          dockerfile: Dockerfile.dev
      working_dir: /gnss_benchmark
      volumes:
        - .:/gnss_benchmark
      env_file: .env
      ports:
        - 8888:8888
      
